services:
  nextjs:
    build: .
    restart: unless-stopped
    expose:
      - "3000"
  
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      # - "443:443"
    volumes:
      - ./portfolio.conf:/etc/nginx/conf.d/default.conf:ro
      - ./static:/var/www/portfolio/static:ro
    depends_on:
      - nextjs